In [1]:
%matplotlib inline
import pandas as pd

In [2]:
from IPython.core.display import HTML
css = open('style-table.css').read() + open('style-notebook.css').read()
HTML('<style>{}</style>'.format(css))

In [3]:
titles = pd.DataFrame.from_csv('data/titles.csv', index_col=None)
titles.head()

                              title  year
0                                 8  2007
1                            Romans  2016
2                       Ultra-Toxic  2005
3                     The Candy Man  1969
4  Friends & Lovers: The Ski Trip 2  2008

In [4]:
cast = pd.DataFrame.from_csv('data/cast.csv', index_col=None)
cast.head()

                    title  year     name   type                character     n
0         Suuri illusioni  1985   Homo $  actor                   Guests  22.0
1     Battle of the Sexes  2017  $hutter  actor          Bobby Riggs Fan  10.0
2    Secret in Their Eyes  2015  $hutter  actor          2002 Dodger Fan   NaN
3              Steve Jobs  2015  $hutter  actor  1988 Opera House Patron   NaN
4  Straight Outta Compton  2015  $hutter  actor              Club Patron   NaN

### How many movies are listed in the titles dataframe?

In [7]:
titles.count()['title']

229882

### What are the earliest two films listed in the titles dataframe?

In [10]:
titles.sort_values('year').head(2)

                     title  year
120739          Miss Jerry  1894
219516  The Startled Lover  1898

### How many movies have the title "Hamlet"?

In [15]:
titles[titles.title == 'Hamlet'].count()['title']

19

### How many movies are titled "North by Northwest"?

In [17]:
titles[titles.title == 'North by Northwest'].count()['title']

1

### When was the first movie titled "Hamlet" made?

In [22]:
titles[titles.title == 'Hamlet'].sort_values('year').head(1)

        title  year
78380  Hamlet  1910

### List all of the "Treasure Island" movies from earliest to most recent.

In [27]:
titles[titles.title == 'Treasure Island'].sort_values('year')

                  title  year
180978  Treasure Island  1918
205617  Treasure Island  1920
209569  Treasure Island  1934
136811  Treasure Island  1950
43994   Treasure Island  1972
45301   Treasure Island  1973
122800  Treasure Island  1985
64621   Treasure Island  1999

### How many movies were made in the year 1950?

In [31]:
titles[titles.year == 1950].count()['title']

1081

### How many movies were made in the year 1960?

In [32]:
titles[titles.year == 1960].count()['title']

1488

### How many movies were made from 1950 through 1959?

In [40]:
titles[(titles.year >= 1950) & (titles.year <=1959)].count()['title']

12602

### In what years has a movie titled "Batman" been released?

In [45]:
titles[titles.title == "Batman"][['year']]

        year
107587  1943
201542  1989

### How many roles were there in the movie "Inception"?

In [50]:
cast[cast.title == 'Inception'].groupby('title').count()[['character']]

           character
title
Inception         77

### How many roles in the movie "Inception" are NOT ranked by an "n" value?

In [94]:
cast[(cast.title == 'Inception') & (cast.n.isnull())].count()['name']

26

### But how many roles in the movie "Inception" did receive an "n" value?

In [96]:
cast[(cast.title == 'Inception') & (cast.n.isnull() == False)].count()['name']

51

### Display the cast of "North by Northwest" in their correct "n"-value order, ignoring roles that did not earn a numeric "n" value.

In [104]:
cast[(cast.title == 'North by Northwest') & (cast.n.isnull() == False)].sort_values('n')

,title,year,name,type,character,n
828313,North by Northwest,1959,Cary Grant,actor,Roger O. Thornhill,1.0
3311904,North by Northwest,1959,Eva Marie Saint,actress,Eve Kendall,2.0
1384564,North by Northwest,1959,James Mason,actor,Phillip Vandamm,3.0
2979655,North by Northwest,1959,Jessie Royce Landis,actress,Clara Thornhill,4.0
338569,North by Northwest,1959,Leo G. Carroll,actor,The Professor,5.0
2880266,North by Northwest,1959,Josephine Hutchinson,actress,Mrs. Townsend,6.0
1611237,North by Northwest,1959,Philip Ober,actor,Lester Townsend,7.0
1211365,North by Northwest,1959,Martin Landau,actor,Leonard,8.0
2324061,North by Northwest,1959,Adam Williams,actor,Valerian,9.0
1721393,North by Northwest,1959,Edward Platt,actor,Victor Larrabee,10.0
632847,North by Northwest,1959,Robert Ellenstein,actor,Licht,11.0
2180279,North by Northwest,1959,Les Tremayne,actor,Auctioneer,12.0
441299,North by Northwest,1959,Philip Coolidge,actor,Dr. Cross,13.0
1433579,North by Northwest,1959,Patrick McVey,actor,Sergeant Flamm,14.0
195292,North by Northwest,1959,Edward Binns,actor,Captain Junket,15.0
1315609,North by Northwest,1959,Ken Lynch,actor,Charley - Chicago Policeman,16.0

### Display the entire cast, in "n"-order, of the 1972 film "Sleuth".

In [107]:
cast[(cast.title == 'Sleuth') & (cast.year == 1972)].sort_values('n')

,title,year,name,type,character,n
1620851,Sleuth,1972,Laurence Olivier,actor,Andrew Wyke,1.0
309931,Sleuth,1972,Michael Caine,actor,Milo Tindle,2.0
355001,Sleuth,1972,Alec Cawthorne,actor,Inspector Doppler,3.0
1392381,Sleuth,1972,John (II) Matthews,actor,Detective Sergeant Tarrant,4.0
2581312,Sleuth,1972,Eve (III) Channing,actress,Marguerite Wyke,5.0
1376603,Sleuth,1972,Teddy Martin,actor,Police Constable Higgs,6.0

### Now display the entire cast, in "n"-order, of the 2007 version of "Sleuth".

In [157]:
cast[(cast.title == 'Sleuth') & (cast.year == 2007)].sort_values('n')

          title  year                 name     type          character    n
309932   Sleuth  2007        Michael Caine    actor             Andrew  1.0
1228911  Sleuth  2007             Jude Law    actor               Milo  2.0
1716240  Sleuth  2007        Harold Pinter    actor        Man on T.V.  3.0
246374   Sleuth  2007      Kenneth Branagh    actor  Other Man on T.V.  NaN
355002   Sleuth  2007  Alec (II) Cawthorne    actor  Inspector Doppler  NaN
2581311  Sleuth  2007    Eve (II) Channing  actress    Marguerite Wyke  NaN
3176194  Sleuth  2007    Carmel O'Sullivan  actress             Maggie  NaN

### How many roles were credited in the silent 1921 version of Hamlet?

In [116]:
cast[(cast.title == 'Hamlet') & (cast.year == 1921)].count()['name']

9

### How many roles were credited in Branagh’s 1996 Hamlet?

In [117]:
cast[(cast.title == 'Hamlet') & (cast.year == 1996)].count()['name']

54

### How many "Hamlet" roles have been listed in all film credits through history?

In [118]:
cast[(cast.title == 'Hamlet')].count()['name']

313

### How many people have played an "Ophelia"?

In [137]:
cast[(cast.character == 'Ophelia')].count()['name']

107

### How many people have played a role called "The Dude"?

In [138]:
cast[(cast.character == 'The Dude')].count()['name']

17

### How many people have played a role called "The Stranger"?

In [139]:
cast[(cast.character == 'The Stranger')].count()['name']

209

### How many roles has Sidney Poitier played throughout his career?

In [140]:
cast[(cast.name == 'Sidney Poitier')].count()['character']

43

### How many roles has Judi Dench played?

In [141]:
cast[(cast.name == 'Judi Dench')].count()['character']

54

### List the supporting roles (having n=2) played by Cary Grant in the 1940s, in order by year.

In [150]:
cast[(cast.name == 'Cary Grant') & (cast.year >= 1940) & (cast.year <= 1950) & (cast.n == 2)].sort_values('year')

                   title  year        name   type    character    n
828310  My Favorite Wife  1940  Cary Grant  actor         Nick  2.0
828320    Penny Serenade  1941  Cary Grant  actor  Roger Adams  2.0

### List the leading roles that Cary Grant played in the 1940s in order by year.

In [151]:
cast[(cast.name == 'Cary Grant') & (cast.year >=1940) & (cast.year <= 1940) & (cast.n ==2)].sort_values('year')

                   title  year        name   type character    n
828310  My Favorite Wife  1940  Cary Grant  actor      Nick  2.0

### How many roles were available for actors in the 1950s?

In [158]:
cast[(cast.year >= 1950) & (cast.year <= 1960) & (cast.type == 'actor')].count()['character']

166819

### How many roles were avilable for actresses in the 1950s?

In [160]:
cast[(cast.year >= 1950) & (cast.year <=1960) & (cast.type == 'actress')].count()['character']

61313

### How many leading roles (n=1) were available from the beginning of film history through 1980?

In [164]:
cast[(cast.year <= 1980) & (cast.n == 1)].count()['character']

63537

### How many non-leading roles were available through from the beginning of film history through 1980?

In [166]:
cast[(cast.year <= 1980) & (cast.n != 1)].count()['character']

1087299

### How many roles through 1980 were minor enough that they did not warrant a numeric "n" rank?

In [168]:
cast[(cast.year <= 1980) & (cast.n.isnull())].count()['character']

434676